/* Hero */
.hero {
  background-image: url("/images/home/garden.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30vh;
  width: 100vw;
}

.hero>container-fluid {

  /* Use flexbox to center align horizontally & vertically */
  display: flex;

  /* justify-content: center; */
  align-content: center;
  height: 100%;
}

services {
  background-image: url("/images/services/services.webp");
}


/* Footer */

footer {
  border-top: 1px solid #70bc4e;
}

footer svg {
  width: 50px;
  height: auto;
}

/* Acts as flex container for 4 social media icons, who become flex items*/
.social-media-icons {
  display: flex;
  column-gap: 0.5rem;
}
